@font-face {
    font-family: "segmented";
    src: url("DSEG7Classic-Regular.woff2");
}

:root {
    background-color: #333;
}

* {
    font-family: sans-serif;
    color: white;
}

.countdownWrapper {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#countdownDisplay {
    position: relative;
}

.segment {
    top: 0;
    font-family: 'segmented';
    font-size: 10vW;
    color: red;
    text-align: center;
}

#countdownBackground {
    position:absolute;
    color: #444;
    z-index: 1;
}

#countdownForeground {
    position: relative;
    z-index: 500;
}